html {
  height: 100%;
  width: 100%;
}

body {
  background-color: black;
  color: blue;
  font-family: "Press Start 2P", cursive;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  color: yellow;
}

nav > * {
  padding: 1rem 3rem;
}

nav > *:hover {
  background-color: gray;
}

h2 {
  color: orange;
}

.steam-id-container {
  border-style: dotted;
  border-color: rgb(233, 124, 124);
  border-width: thick;
  width: 500px;
  height: 100px;
  background-color: darkgray;
  margin: auto;
  margin-top: 5%;
}

.inner-steam-id-container {
  /* margin-top: 10%;*/
  padding-top: 6.5%;
}

.enter-steam-id-title {
  color: orange;
}

.games {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  margin-top: 3%;
  max-width: 85%;
  margin: auto;
}

.game-div {
  background-color: gray;
  padding-bottom: 8px;
  border-style: solid;
  border-color: rgb(43, 216, 43);
}

.friend-div {
  background-color: gray;
  border-style: solid;
  border-color: red;
  display: flex;
  align-items: center;
}

.friend-div:hover {
  background-color: rgb(110, 108, 108);
  border-color: rgb(43, 216, 43);
}

.friend-avatar {
  padding: 1rem;
}

.friends-div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  max-width: 85%;
  margin: auto;
}

.friends-list-header,
.games-owned-header {
  margin-bottom: 2rem;
}

input,
button {
  font-family: "Press Start 2P", cursive;
  padding: 0.5rem;
}

.solo,
.social,
.re-enter {
  width: fit-content;
  margin: auto;
  padding: 1rem;
}

.solo:hover,
.social:hover,
.re-enter:hover {
  background-color: gray;
}

.solo {
  color: orange;
}

.social {
  color: orange;
}

.re-enter {
  color: red;
}
