html{
    height: 100%;
    width: 100%;
}

body{
    background-color: black;
    color: blue;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

.steam-id-container{
    border-style: solid;
    border-color: red;
    width: 500px;
    height: 300px;
    background-color: darkgray;
    margin: auto;
    margin-top: 5%;
}

.inner-steam-id-container{
    margin-top: 10%;
    padding-top: 15%;
}

