html {
  height: 100%;
  width: 100%;
}

body {
  background-color: black;
  color: blue;
  font-family: "Press Start 2P", cursive;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  color: yellow;
}

nav > * {
  padding: 1rem 3rem;
}

nav > *:hover {
  background-color: gray;
}

h2 {
  color: orange;
}

.fruit-and-text {
  display: flex;
  justify-content: center;
  width: 75%;
  margin: auto;
}

.fruit {
  width: 10rem;
  height: 10rem;
  margin: 2rem;
}

.fruits {
  display: flex;
  flex-direction: column;
}

.enter-page-fruits {
  margin: 0 12.5rem;
}

.cherry {
  margin-top: 0;
}

.steam-id-container {
  border-style: dotted;
  border-color: rgb(233, 124, 124);
  border-width: thick;
  width: 31.25rem;
  height: 6.25rem;
  background-color: darkgray;
  margin: auto;
  margin-top: 5%;
}

.inner-steam-id-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 0.5rem;
}

.steam-id-input {
  height: 1rem;
  width: 23rem;
}

.steam-id-button {
  height: 5rem;
  width: auto;
}

.steam-id-button:hover {
  cursor: pointer;
}

.steam-id-button:active {
  transform: translateY(3px);
}

.enter-steam-id-title {
  margin-top: 5rem;
  color: orange;
}

.recent-users-heading {
  padding-top: 5rem;
  color: rgb(43, 216, 43);
}

.recent-user-div {
  display: flex;
  align-items: center;
  width: 31.25rem;
  margin: 1rem auto;
  padding: 0.5rem;
  background-color: gray;
  border: solid red;
}

.recent-user-div:hover {
  border: solid rgb(43, 216, 43);
  cursor: pointer;
}

.recent-user-name {
  margin-left: 2rem;
}

.welcome-and-options {
  width: 65%;
}

.games,
.game-matches {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  margin-top: 3%;
  max-width: 85%;
  margin: auto;
}

.game-div,
.game-match {
  background-color: gray;
  padding-bottom: 0.5rem;
  padding-top: 5%;
  border-style: solid;
  border-color: rgb(43, 216, 43);
}

.friend-div {
  background-color: gray;
  border-style: solid;
  border-color: red;
  display: flex;
  align-items: center;
  font-size: 70%;
}

.friend-div:hover {
  background-color: rgb(110, 108, 108);
  border-color: rgb(43, 216, 43);
}

.friend-avatar {
  padding: 1rem;
  width: 15%;
  height: auto;
}

.friends-div {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  max-width: 85%;
  margin: auto;
  padding-bottom: 5%;
}

.friends-list-header,
.games-owned-header {
  margin-bottom: 2rem;
}

button,
.solo,
.social,
.re-enter,
.nav-home,
.friend-div {
  cursor: pointer;
}

input,
button {
  font-family: "Press Start 2P", cursive;
  padding: 0.5rem;
}

.solo,
.social,
.re-enter {
  width: fit-content;
  margin: 2rem auto;
  padding: 1rem;
}

.solo:hover,
.social:hover,
.re-enter:hover {
  background-color: gray;
}

.solo {
  color: orange;
}

.social {
  color: orange;
}

.re-enter {
  color: red;
}

.shuffle-matches-btn {
  margin: 0.5rem;
}

.welcome-header {
  color: rgb(43, 216, 43);
}

.user-avatar {
  border-style: solid;
  border-color: blue;
  margin-bottom: 1rem;
}

.note {
  background-color: gray;
  border: solid red;
  padding: 0.5rem;
  color: black;
  width: 90%;
  margin: 1rem auto;
}

.stats-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row-reverse;
}

.stats {
  background-color: rgb(126, 126, 126);
  border: solid blue;
  margin: 2rem;
  width: 35%;
  padding: 1rem;
}

.stats > h3 {
  color: orange;
}

.game-choice-image {
  width: 17.25rem;
  height: 6.4375rem;
  margin: auto;
  margin-bottom: 1rem;
}

.shuffle-container {
  display: grid;
  grid-template-rows: auto auto;
}

button {
  background-color: rgb(126, 126, 126);
  border: solid blue;
}

.player-stats-heading {
  margin-top: 4rem;
  margin-bottom: 1rem;
}

button:hover {
  border: solid rgb(43, 216, 43);
}

.recent-user-avatar {
  width: 4rem;
  height: auto;
}
